spring:
  datasource:
     url: jdbc:h2:mem:testdb
     driverClassName: org.h2.driver
     username: sa
     password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true

openai:
  api:
    key: ${OPENAI_API_KEY}
